@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',san;
}

body {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #2355d5, #23d5ab, #ffd500); */
    background-color: #808080;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    /* background-position: center;
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px; */
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 50px 20px 30px 10px;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    background-color: rgba(255, 225, 225, 0.406);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* "borrowed" */
    /* border: 3px solid rgba(255, 255, 255, 0.2); */
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-app {
    display: flex;
    flex-direction: row;
    height: 100vh - 20px;
    width: 100vw - 10px;
    padding: 50px 20px 30px 10px;
    border-radius: 30px;

    /* work in progress, will likely combine various css elements soon */
}

.box-login {
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}

.header {
    text-align: center;
    margin: 30px 0;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input-group {
    width: 100%;  
}

.input {
    margin: 12px 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.input-box {
    width: 80%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
}

.input label {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}

.input-box:focus ~ label,.input-box:valid ~ label {
    top: 2px;
    font-size: 10px;
    color: #c12828;
    font-weight: 500;
}

.input-submit {
    width: 80%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #bc6202;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.144);
    cursor: pointer;
    transition: .4s;
}

.input-submit:hover {
    background:  #db3e00;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}

@media only screen and (max-width: 576px) {
    .box{
        margin: 0 5px;
    }
}